<div class="blog-contents">
  <span class='new-article'>New Article</span>
  <div class='blog-lists' >
    <div class='article-list'>
      <% @blogs.each do |blog| %>
        <div class='list'>
          <%= link_to blog_path(blog.id), class: 'blog-title-img', method: :get do %>
            <div>
              <%= image_tag blog.image.variant(resize: '120x120') if blog.image.attached? %>
            </div>
            <div class='blog-title'>
              <%= blog.title %>
              <div class='blog-description'><%= blog.description %></div>
              <div class='blog-date'><%= blog.created_at.strftime("投稿日：%Y/%m/%d") %></div>
            </div>
          <% end %>
          <% if user_signed_in? && current_user.admin? %>
            <%= link_to 'EDIT', edit_admin_blog_path(blog.id), class: 'admin-only edit', data: {"turbolinks" => false}, method: :get %>
            <%= link_to 'DELETE', admin_blog_path(blog.id), class: 'admin-only delete', data: { confirm: 'Is it okay if I delete this article?' }, method: :delete %>
          <% end %>
        </div>
      <% end %>
      <%= paginate @blogs %>
    </div>

    <%= render "site_right"%>
  </div>
  <div class="social">
    <a href="https://twitter.com/share?&text=[MochaBlog]&hashtags=MochaBlog" rel="nofollow" target="_blank"><i class="fa-brands fa-twitter"></i></a>
    <a href="http://line.me/R/msg/text/?%0a[MochaBlog]" target="_blank" rel="nofollow noopener"><i class="fa-brands fa-line"></i></a>
  </div>
</div>
<%= content_for(:title, 'New Article') %>